@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="home-page">
    <h1 class="display-4">Gritter Furniture</h1>
    <h2 class="display-4">Buy and Sell wide range of furniture</h2>
    <div>Chairs, Tables, Beds and Sofa sets</div>
    <a asp-area="" asp-controller="Product" asp-action="Index">Click here to get</a>
</div>
